* {
    padding: 0;
    margin: 0;
}

.titulo {
    color: black;
}

.menu {
    background-color: #718387;
    padding: 25px;
}


.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    background-color: darkcyan;
}

.cabecalho {
    background-color: #98336c;
    background-image: linear-gradient(90deg, #486288 0%, #98336c 100%);
}
